<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.jackrudelic.runawayios.realtime-background</string>
	</array>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.runawayios.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>runaway</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>strava</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>processing</string>
		<string>fetch</string>
	</array>
	<key>SUPABASE_URL</key>
	<string>YOUR_SUPABASE_PROJECT_URL_HERE</string>
	<key>SUPABASE_KEY</key>
	<string>YOUR_SUPABASE_ANON_KEY_HERE</string>
	<key>NSMotionUsageDescription</key>
	<string>Runaway uses motion sensors to measure your running cadence during the onboarding assessment, helping personalize your training recommendations.</string>
</dict>
</plist>